.layout-root {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: var(--black);
}

.layout-root__header {
    background-color: var(--darkest-grey);
    color: var(--darkest-grey);
    box-shadow: 0px 1px 4px var(--black);
    
    z-index: 0;
}

.layout-root__social-links {
    display: inline;
    font-size: 2rem;
    margin-left: 1em;
}

.layout-root__social-link {
    display: block;
    font-family: sans-serif;
    color: var(--primary-color);
}

.layout-root__brand {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--serif-font);
}

.layout-root__brand-text, 
.layout-root__brand-text-abbrev {
    letter-spacing: 1ch;
    color: var(--primary-color);
    font-weight: normal;
}

.layout-root__brand-text-abbrev {
    display: none;
}

.layout-root__main {
    display: flex;
    flex: 1;
    overflow-y: auto;

    font-family: var(--sans-serif-font);
}

.layout-root__footer {
    padding: 1em 0;

    font-size: 0.75rem;

    background-color: var(--darkest-grey);
    color: var(--lightest-grey);
    box-shadow: 0px -1px 4px var(--black);

    z-index: 0;
}

.layout-root__footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-root__footer-icon {
    margin: 0 1em;

    color: var(--primary-color);
}

@media (max-width: 1024px) {
    .layout-root {
        height: auto;
        min-height: 100vh;
    }

    .layout-root__header {
        position: sticky;
        top: 0;
        
        z-index: 2;
    }

    .layout-root__social-links {
        display: none;
    }

    .layout-root__main {
        overflow: visible;
    }
}