@import 'variables';

@mixin color-classes($name, $color) {
    .#{$name}-background {
        background-color: $color;
    }

    .#{$name}-font {
        color: $color;
    }
}

@mixin display-flex($direction: row) {
    .sf-flex-#{$direction} {
        display: flex;
        flex-direction: $direction;
    }

    .sf-flex-#{$direction}--align-center {
        align-items: center;
    }
}