@import 'styles/variables';

.sf-home-content {
    overflow-y: hidden;
    flex: 1 1 auto;
    scroll-behavior: smooth;

    .sf-home-content__anchored > .sf-home-content__anchored {
        height: 1000px;
    }
}
