@import url('https://fonts.googleapis.com/css?family=Sarala');

@import 'styles';
@import 'styles/mixins';
@import 'styles/variables';

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.sf-layout {
  @extend .white-background;
  @extend .grey-font;

  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font: 16px sans-serif;

  & header,
  & footer {
    padding: 0.5rem 1rem;
  }
}

.sf-layout-header {
  @extend .primary-background;
  @extend .primary-font;

  display: flex;
  align-items: center;

  box-shadow: $grey 0px -2px 5px;

  font-size: 3rem;

  & .sf-layout-header-brand {
    @extend .primary-font;
    font-family: 'Sarala';
    text-shadow: $grey -3px -2px 1px;
  }

  & .sf-layout-header-github {
    margin-left: auto;
    text-shadow: $grey 3px -2px 1px;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.sf-layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Sarala';
  font-size: 0.75rem;
  box-shadow: $grey 0px 2px 5px;

  & .sf-copyright-icon {
    @extend .secondary-font;
    margin: 0 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}