.skills {
    display: flex;
    flex-direction: column;
}

.skills__category {
    --line-thickness: 0.1rem;
}

.skills__category-name {
    display: flex;
    align-items: center;

    font-weight: normal;
    color: var(--lightest-grey)
}

.skills__category-name::after {
    content: '';

    display: inline-block;

    height: var(--line-thickness);
    flex: 1;

    margin-left: 0.25em;

    background-color: var(--primary-color);
}

.skills__skill-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.skills__skill-item {
    --transition: 300ms ease-out;
    --scale-factor: 1.1;

    display: inline-block;
    
    width: 10vw;
    min-width: 6rem;
    
    padding: 1em;

    transition: var(--transition);
}

.skills__skill-item:hover {
    transform: scale(var(--scale-factor), var(--scale-factor));
    transition: var(--transition);    
}

.skills__skill-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .skills__skill-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .skills__skill-list {
        grid-template-columns: repeat(2, 1fr);
    }
}