.skills {
    display: flex;
    flex-direction: column;
}

.skills__category {
    --line-thickness: 0.1rem;
}

.skills__category-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skills__category-name {
    display: flex;
    align-items: center;

    padding-right: 1em;
    border-right: var(--line-thickness) solid var(--primary-color);

    font-weight: normal;
    color: var(--lightest-grey)
}

.skills__category-heading-horizontal-rule {
    flex: 1;
}

.skills__skill-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.skills__skill-item {
    --transition: 300ms ease-out;
    --scale-factor: 1.1;

    display: inline-block;
    
    width: 10vw;
    min-width: 6rem;
    
    padding: 1em;

    transition: var(--transition);
}

.skills__skill-item:hover {
    transform: scale(var(--scale-factor), var(--scale-factor));
    transition: var(--transition);    
}

.skills__skill-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .skills__skill-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .skills__skill-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__category-name {
        padding-right: 0.5em;
    }
}