.side-nav-view {
    display: flex;
    flex-direction: row;

    flex: 1;
}

.side-nav-view__nav {
    --border-span: 100%;
    --border-thickness: 0.1rem;

    position: relative;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
}

.side-nav-view__nav::after {
    content: '';
    position: absolute;
    right: 0;
    height: var(--border-span);
    width: var(--border-thickness);
    background-color: var(--primary-color);
}

.side-nav-view__nav-item {
    padding: 0 1em;

    letter-spacing: 0.2ch;;
    font-family: var(--serif-font);

    color: var(--lightest-grey);
}

.side-nav-view__nav-item--external {
    display: none;
}

.side-nav-view__nav-item-icon {
    display: none;
}

.side-nav-view__nav-item > a {
    position: relative;
    color: inherit;
}

.side-nav-view__nav-item:not(.side-nav-view__nav-item--active):hover > a::after {
    --initial-width: 10%;
    --scale-factor: 10;
    --offset: -0.25ch;

    content: '';
    height: 0.1em;
    width: var(--initial-width);
    
    background-color: var(--primary-color);

    position: absolute;
    left: calc(50% - var(--initial-width) / 2);
    bottom: var(--offset);

    animation-name: extend-vertically;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.side-nav-view__nav-item--active > a::before {
    --initial-height: 25%;
    --scale-factor: 4;

    content: '';

    height: var(--initial-height);
    width: 0.1em;

    background-color: var(--primary-color);

    position: absolute;
    left: -0.75ch;
    top: calc(50% - var(--initial-height) / 2);
    
    animation: extend-horizontally;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.side-nav-view__content {
    flex: 1;
    overflow-y: auto;
}

@keyframes extend-horizontally {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(var(--scale-factor));
    }
}

@keyframes extend-vertically {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(var(--scale-factor))
    }
}

@media (max-width: 1024px) {

    .side-nav-view__nav {
        display: flex;
        position: fixed;

        height: auto;
        flex: none;

        margin-top: 1em;
        border-right: var(--border-thickness) solid var(--primary-color);
    }

    .side-nav-view__nav::after {
        display: none;
    }

    .side-nav-view__nav-item--external {
        display: block;
    }

    .side-nav-view__nav-item-text {
        display: none;
    }

    .side-nav-view__nav-item-icon {
        display: block;

        text-align: center;

        transition: transform 100ms ease-in;
    }

    .side-nav-view__nav-item-icon:hover {
        transform: scale(1.1, 1.1);
        
        transition: transform 100ms ease-in;
    }

    .side-nav-view__nav-item--active .side-nav-view__nav-item-icon {
        color: var(--primary-color);
    }

    .side-nav-view__nav-item--active .side-nav-view__nav-item-icon:hover {
        transform: none;
    }

    .side-nav-view__content {
        padding-left: 7rem;
    }
}

@media (max-width: 480px) {
    .side-nav-view__content {
        padding-left: 4rem;
    }
}