.side-nav-view {
    display: flex;
    flex-direction: row;

    flex: 1;
}

.side-nav-view__nav {
    --border-span: 100%;
    --border-thickness: 0.1rem;

    position: relative;

    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
}

.side-nav-view__nav::after {
    content: '';
    
    height: var(--border-span);
    width: var(--border-thickness);

    position: absolute;
    right: 0;

    background-color: var(--primary-color);
}

.side-nav-view__nav-item {
    padding: 0 1em;

    font-size: 7vh;
    letter-spacing: 0.2ch;;
    font-family: var(--serif-font);

    color: var(--lightest-grey);
}

.side-nav-view__nav-item--external {
    display: none;
}

.side-nav-view__nav-item-icon {
    display: none;
}

.side-nav-view__nav-item > a {
    position: relative;
    color: inherit;
}

.side-nav-view__nav-item:not(.side-nav-view__nav-item--active):hover > a::after {
    --size: 0.25em;

    content: '';
    height: var(--size);
    width: var(--size);
    
    background-color: var(--primary-color);

    border-radius: 100%;

    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(-2 * var(--size));

    animation-name: expand;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.side-nav-view__nav-item--active > a::before {
    --initial-height: 25%;
    --scale-factor: 4;

    content: '';

    height: var(--initial-height);
    width: 0.1em;

    background-color: var(--primary-color);

    position: absolute;
    left: -0.75ch;
    top: calc(50% - var(--initial-height) / 2);
    
    animation: extend-vertically;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.side-nav-view__content {
    flex: 1;

    padding: 1em 2em;

    overflow-y: auto;
}

@keyframes extend-vertically {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(var(--scale-factor));
    }
}

@keyframes extend-horizontally {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(var(--scale-factor))
    }
}

@keyframes expand {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}

@media (max-width: 1024px) {
    .side-nav-view {
        flex-direction: column-reverse;
    }

    .side-nav-view__nav {
        flex-direction: row;
        flex: none;
        
        position: sticky;
        bottom: 0;
        
        height: auto;

        border-top: var(--border-thickness) solid var(--primary-color);
        background-color: var(--black);
        box-shadow: var(--black) 0px -1px 4px;
    }

    .side-nav-view__nav::after {
        display: none;
    }

    .side-nav-view__nav-item {
        font-size: 1.8rem;
    }

    .side-nav-view__nav-item--external {
        display: block;
    }

    .side-nav-view__nav-item-text {
        display: none;
    }

    .side-nav-view__nav-item-icon {
        display: block;

        text-align: center;

        transition: transform 100ms ease-in;
    }

    .side-nav-view__nav-item-icon:hover {
        transform: scale(1.1, 1.1);
        
        transition: transform 100ms ease-in;
    }

    .side-nav-view__nav-item--active .side-nav-view__nav-item-icon {
        color: var(--primary-color);
    }

    .side-nav-view__nav-item--active .side-nav-view__nav-item-icon:hover {
        transform: none;
    }
}

@media (max-width: 480px) {
    .side-nav-view__nav-item--external {
        display: none;
    }
}