@import 'variables.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--sans-serif-font);
    color: var(--white);
}

h1 {
    --font-size: 3rem;

    font-size: var(--font-size);
    margin: var(--heading-margin) 0;
}

h2 {
    --font-size: 2rem;

    font-size: var(--font-size);
    margin: var(--heading-margin) 0;
}

h3 {
    --font-size: 1.5rem;
    
    font-size: var(--font-size);
    margin: var(--heading-margin) 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.sf-container {
    width: var(--content-width);
    margin: 0 auto;
}

.sf-hr {
    --rule-width: 0.1rem;

    border: none;
    background-color: var(--primary-color);
    height: var(--rule-width);
}

@media (max-width: 1024px) {
    h1 {
        --font-size: 2rem;
    }

    h2 {
        --font-size: 1.5rem;
    }

    h3 {
        --font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        --font-size: 1.5rem;
    }

    h2 {
        --font-size: 1.2rem;
    }

    h3 {
        --font-size: 1rem;
    }
}