:root {
    --primary-color: #519872;
    --secondary-color: #A491D3;
    --white: #F3F1F1;
    --lightest-grey: #9F9290;
    --lighter-grey: #867775;
    --light-grey: #6B5E5D;
    --grey: #504746;
    --dark-grey: #443C3B;
    --darker-grey: #393231;
    --darkest-grey: #2D2827;
    --black: #221E1D;

    --content-width: 90%;
}