:root {
    --primary-color: #A491D3;
    --secondary-color: #C1D392;
    --white: #F9F7FC;
    --lightest-grey: #CCCBD1;
    --lighter-grey: #C6C5CC;
    --light-grey: #BBB9C1;
    --grey: #B0AEB7;
    --dark-grey: #888593;
    --darker-grey: #63606C;
    --darkest-grey: #3E3C44;
    --black: #19181B;

    --content-width: 90%;

    --serif-font: 'Source Code', monospace;
    --sans-serif-font: 'Kumbh Sans', sans-serif;

    --heading-margin: 0.8em;
}